################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test/.vs/Test/v16/Server/sqlite3/db.lock
/WebsiteProject/.vs/WebsiteProject/v16/Server/sqlite3/db.lock
